

.main__element{
  text-align: center;
}

.primary-nav{
  background-color: rgb(194, 216, 236);
  padding: 16px 32px;
}

nav a{
  margin-right: 16px;
  padding: 5px 10px;
}

.product__navlinks{
  margin: 5px;
  padding: 10px;
}

.product__searchbox{
  background-color: pink;
}
.product__searchbar{
  margin: 5px auto;
  padding: 5px 10px;
  width: 80%;
}
/* nav a.active{
  background-color: black;
  color: white;
  font-weight: bold;
  text-decoration: none;
} */